/*styles here*/
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#opening-screen {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.opening-buttons {
  height: 40px;
  width: 200px;
  position: relative;
  left: 50%;
  margin-left: -100px;
  transition: 0.4s;
  font-family: "Tiny5", sans-serif;
  color: white;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0);
  background-color: rgba(255,255,255,0);
  font-size: 23px;
  text-align: center;
  text-decoration: none;
}
.opening-buttons:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  letter-spacing: 3px;
  background-color: rgba(255,255,255,0.2);
  text-decoration: underline;
}
#new-game {
  top: 20px;
}
#information {
  top: 50px;
}
