/*styles here*/
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
@keyframes hideScreen {
  0% {opacity: 0; bottom: -200px; border-radius: 50%; scale: 1; margin-bottom: 0px;}
  40% {opacity: 1; bottom: 50%; margin-bottom: -100px; border-radius: 50%; scale: 1}
  100% {opacity: 1; border-radius: 4px; scale: 10;}
  30% {background-color: #fff}
  95% {background-color: #fff0c7; margin-bottom: -50;}
  100% {background-color: #fff0c7}
}
#load-animate-screen {
  position: fixed;
  height: 200px; 
  width: 200px;
  bottom: -200px;
  left: 50%;
  margin-left: -100px;
  z-index: 99;
  background-color: #fff;
  transition: 0.4s;
}
#load-screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: #fff0c7;
  display: none;
}
.loader {
  width: 85px;
  height: 35px;
  --g1:conic-gradient(from  90deg at 3px  3px ,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at 22px 22px,#0000 90deg,#fff 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  margin-top: -17.5px;
  margin-left: -42.5px;
  animation: l6 1s infinite alternate;
}
@keyframes l6 {
  0%   {background-position:0 50% ,50% 50% ,100% 50% }
  20%  {background-position:0 0   ,50% 50% ,100% 50% }
  40%  {background-position:0 100%,50%  0  ,100% 50% }
  60%  {background-position:0 50% ,50% 100%,100% 0   }
  80%  {background-position:0 50% ,50% 50% ,100% 100%}
  100% {background-position:0 50% ,50% 50% ,100% 50% }
}
#opening-screen {
  background-color: rgba(230, 206, 28, 1);
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  position: fixed;
  padding: 20px;
  background-size: auto 100%;
  background-position: center;
  height: 100vh;
}
#title {
  width: 300px;
  height: 150px;
  font-family: "Indie Flower", cursive;
  font-size: 80px;
  position: relative;
  color: black;
  top: 10px;
  left: 100px;
  animation: fadeIn 2s ease-in;
}
#side-mask {
  height: 100%;
  width: 600px;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  90% {opacity: 1;}
}
.opening-buttons {
  height: 40px;
  width: 200px;
  position: relative;
  left: 50%;
  margin-left: -100px;
  transition: 0.4s;
  font-family: "Tiny5", sans-serif;
  color: black;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0);
  font-size: 23px;
  text-align: left;
  text-decoration: none;
}
.opening-buttons:hover {
  letter-spacing: 2px;
  text-decoration: underline;
}
#new-game {
  top: 250px;
  animation: fadeIn 1s ease-in;
  animation-delay: 0.5s;
}
#information {
  top: 255px;
  animation: fadeIn 1s ease-in;
  animation-delay: 1s;
}
#settings {
  top: 260px;
  animation: fadeIn 1s ease-in;
  animation-delay: 1.5s;
}
