/*styles here*/
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
@keyframes hideScreen {
  0% {opacity: 0; bottom: -200px; border-radius: 50%; scale: 1; margin-bottom: 0px;}
  40% {opacity: 1; bottom: 50%; margin-bottom: -100px; border-radius: 50%; scale: 1}
  100% {opacity: 1; border-radius: 4px; scale: 20;}
  30% {background-color: #fff}
  95% {background-color: #fff0c7; margin-bottom: -50;}
  100% {background-color: #fff0c7}
}
#load-animate-screen {
  position: fixed;
  height: 200px; 
  width: 200px;
  bottom: -200px;
  left: 50%;
  margin-left: -100px;
  z-index: 99;
  background-color: #fff;
  transition: 0.4s;
}
@keyframes square-animation {
 0% {
  left: 0;
  top: 0;
 }

 10.5% {
  left: 0;
  top: 0;
 }

 12.5% {
  left: 32px;
  top: 0;
 }

 23% {
  left: 32px;
  top: 0;
 }

 25% {
  left: 64px;
  top: 0;
 }

 35.5% {
  left: 64px;
  top: 0;
 }

 37.5% {
  left: 64px;
  top: 32px;
 }

 48% {
  left: 64px;
  top: 32px;
 }

 50% {
  left: 32px;
  top: 32px;
 }

 60.5% {
  left: 32px;
  top: 32px;
 }

 62.5% {
  left: 32px;
  top: 64px;
 }

 73% {
  left: 32px;
  top: 64px;
 }

 75% {
  left: 0;
  top: 64px;
 }

 85.5% {
  left: 0;
  top: 64px;
 }

 87.5% {
  left: 0;
  top: 32px;
 }

 98% {
  left: 0;
  top: 32px;
 }

 100% {
  left: 0;
  top: 0;
 }
}

#loader {
  position: relative;
  width: 96px;
  height: 96px;
  top: 50%;
  left: 50%;
  margin-top: -48px;
  margin-left: -48px;
  transform: rotate(45deg);
}

.loader-square {
 position: absolute;
 top: 0;
 left: 0;
 width: 28px;
 height: 28px;
 margin: 2px;
 background: #736e60;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 animation: square-animation 10s ease-in-out infinite both;
 border-radius: 3px;
}

.loader-square:nth-of-type(0) {
 animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
 animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
 animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
 animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
 animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
 animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
 animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
 animation-delay: -10s;
}
#load-screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: #fff0c7;
  display: none;
}
#opening-screen {
  background-color: rgba(230, 206, 28, 1);
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  position: fixed;
  background-position: 90%;
}
#title {
  width: 300px;
  height: 150px;
  font-family: "Indie Flower", cursive;
  font-size: 80px;
  position: absolute;
  color: black;
  top: 10px;
  left: 100px;
  color: #000;
  animation: fadeIn 2s ease-out;
}
#side-mask {
  position: relative;
  height: 95%;
  width: 600px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(to right, rgba(255,255,255, 0.7) 30%, rgba(255,255,255,0) 100%);
  transition: 0.3s;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  90% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  90% {opacity: 0;}
}
.opening-buttons {
  height: 40px;
  width: 200px;
  position: relative;
  left: 50%;
  margin-left: -100px;
  transition: 0.4s;
  font-family: "Tiny5", sans-serif;
  color: black;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0);
  font-size: 23px;
  text-align: left;
  text-decoration: none;
}
.opening-buttons:hover {
  letter-spacing: 2px;
  text-decoration: underline;
}
#new-game {
  display: none;
  top: 250px;
}
#information {
  display: none;
  top: 255px;
}
#settings {
  display: none;
  top: 260px;
}
